:root {
    --background-color: rgb(44, 54, 63);
    --border-color: rgba(242, 245, 234, 0.1);
    --font-color: rgb(242, 245, 234);
    --low-contrast: rgb(187, 199, 164);
    --high-contrast-one: rgb(56, 145, 166);
    --high-contrast-two: rgb(219, 84, 97);
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}



h1, h2, h3, a, p, span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--font-color);
}

a {
    text-decoration: none;
}



/* Nav bar styling */


/* Main styling */


/* Others */
@media only screen and (max-width: 800px) {
    
}

@media only screen and (max-width: 500px) {
    
}